<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th{
            border:2px solid black;
            border-collapse:collapse
        }
    </style>
</head>

<body>
    <textarea name="movies" id="movies" cols="60" rows="10"></textarea>
    <table id="moviesTable" border="1">
        <thead>
            <tr>
                <th>View Column</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Plot</th>
            </tr>
        </thead>
        <tbody>
            <!-- Movie data will be inserted here -->
        </tbody>
    </table>
    <script>
        window.onload = () => {
            const textArea = document.getElementById('movies');
            const tableBody = document.getElementById('moviesTable').getElementsByTagName('tbody')[0];

            const xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://127.0.0.1:5000/test-movies', true);
            xhr.send();
            xhr.onload = () => {
                console.log(xhr.readyState);
                if (xhr.status === 200) {
                    const movies = JSON.parse(xhr.responseText);
                    movies.forEach((movie, i) => {
                        var row = tableBody.insertRow();

                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);

                        const button = document.createElement("button");
                        button.innerText = "Click";
                        button.className="btn btn-primary mx-auto px-3"
                        
                        cell1.appendChild(button);
                        cell2.innerHTML = movie.title;
                        cell3.innerHTML = movie.Year;
                        cell4.innerHTML = movie.director;
                        cell5.innerHTML = movie.plot;

                        button.addEventListener('click', function () {
                            console.log('clicked', movies[i]);
                            textArea.value = JSON.stringify(movies[i]);
                        });
                    });
                }
            };
        };
    </script>
</body>

</html>