<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="" />
  <style>
    form {
      display: flex;
    }
  </style>
</head>

<body>
  <form action="/form" method="POST">
    <table>
      <tr>
        <td>
          <label for="username">Username</label>
        </td>
        <td>
          <input id="username" name="username" type="text" />
        </td>
      </tr>

      <br />

      <tr>
        <td>
          <label for="password">Password</label>
        </td>
        <td>
          <input id="password" name="password" type="password" />
        </td>
      </tr>

      <br />

      <tr>
        <td>
          <button>Submit</button>
        </td>
      </tr>
    </table>
  </form>

  
</body>

</html>